<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="michaelJohnson" class="pl.edu.ug.ap.fakedatacsv.domain.Person">
        <property name="id" value="4b94dce1-6e6b-4e3f-8f15-86e22b1f3d33" />
        <property name="imie" value="Michael" />
        <property name="nazwisko" value="Johnson" />
        <property name="email" value="michael.johnson@example.com" />
        <property name="rok_urodzenia" value="1995" />
    </bean>

    <bean id="emilyWilliams" class="pl.edu.ug.ap.fakedatacsv.domain.Person">
        <property name="id" value="b30c2163-6dd4-44dd-a2f5-9b8c4a5c75e7" />
        <property name="imie" value="Emily" />
        <property name="nazwisko" value="Williams" />
        <property name="email" value="emily.williams@example.com" />
        <property name="rok_urodzenia" value="1980" />
    </bean>

</beans>
