<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}" />
</div>


<div th:each="question : ${questions}">
    <div th:text="'ID: '+${question.id}"></div>
    <div th:text="'Pytanie: '+${question.question}"></div>
    <div th:text="'Odpowiedź: '+${question.answer}"></div>
    <div th:text="'Data pytania: '+${#temporals.format(question.date, 'dd-MM-yyyy HH:mm')}"></div>
    <div th:text="'Ilość zadań tego pytania: '+${question.timesAsked}"></div>
    <div th:if="${question.answeredCorrect}">
        <div>Odpowiedź była dobra :D</div>
    </div>
    <div th:unless="${question.answeredCorrect}">
        <div>Odpowiedź była zła :(</div>
    </div>
    <a th:href="@{/question/update/{id}(id=${question.getId()})}">Edit</a>
    <a th:href="@{/question/delete/{id}(id=${question.getId()})}">Delete</a>
</div>

<a th:href="@{/question/form}">Add new question</a>


</body>
</html>